<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->

    <!--================ End Header Menu Area =================-->

    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
      <div class="banner_inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner_content text-center">
                <p class="text-uppercase">
                  Uniminuto
                </p>
                <h2 class="text-uppercase mt-4 mb-5">
                  Crea Usuario Y Materias
                </h2>
                <div>
                  <a class="primary-btn2 mb-3 mb-sm-0" (click)="openUser()">Crear Estudiante</a>
                  <!-- <a class="primary-btn ml-sm-3 ml-0" (click)="openMateria()">Crear Materia</a> -->
                </div>
                <div style="padding-top: 5px; ">
                  <a style="background: #ff90a0;" class="primary-btn2 mb-3 mb-sm-0" (click)="enRollSubjectsPerStudent()">Inscribir Materias a Estudiante</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  </body>
</html>
